<div class="container-fluid" ng-controller="PasswordCtrl" >
    <div class="jumbotron" id="admin">
        <form id="passwordForm" name="passwordForm" class="form-horizontal">

            <div crud-status-error-message ng-if="isError"></div>
            <div crud-status-success-message ng-if="isSuccess"></div>

            <!-- Password -->
            <div class="row form-group">
                <!-- label -->
                <label class="col-md-4 control-label">Password</label>
                <!-- value-->
                <div class="col-md-6" >
                    <input type="password" id="password" placeholder="Enter Password" class="k-textbox nutrilife_text_small" ng-model="user.password">
                </div>
            </div>

            <!-- Confirm Password -->
            <div class="row form-group">
                <!-- label -->
                <label class="col-md-4 control-label">Re-Enter Password</label>
                <!-- value-->
                <div class="col-md-6" >
                    <input type="password" id="confPassword" placeholder="Re-Enter Password" class="k-textbox nutrilife_text_small" ng-model="user.conf_password">
                </div>
            </div>

            <!-- SAVE / UPDATE / RESET buttons -->
            <div class="row form-group">
                <!-- SAVE -->
                <div class="col-md-2 col-md-offset-2" >
                    <a class="btn btn-primary btn-md" role="button" ng-click="onSave()">MODIFY PASSWORD</a>
                </div>

            </div>

        </form>

    </div>
</div>
